.Xauthority
.antigravity/
.arduino15/
.arduinoIDE/
.bash_history
.bash_logout
.cache/
.dbclient/
.dotfiles/
.fonts/
.gemini/
.gnupg/
.ipython/
.local/
.npm/
.password-store/
.pki/
.ssh/
.wget-hsts
.xinitrc
.zotero/
.bun
Arduino/
Desktop/
Documents/
Downloads/
Pictures/
Zotero/
sway.log

.vscode_insiders/
.vscode_insiders_shared/
.python_history
.bash_logout
.bash_history

.config/BraveSoftware
.config/suckless
.config/thorium
.config/librewolf
.config/mozilla
.config/Antigravity
.themes






